*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: sans-serif;
}
h1{
    text-align: center;
    margin-top: 50px;
    color: tomato;
}
.game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color:rgba(0,0,0,.2);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 17px 50px;
    gap: 5px;
}
.items{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
}
.scores{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 20px;
    color: tomato;
    font-weight: bold;
    font-size: 1.17rem;
}
.players{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}
.player2{
    display:none;
}
.score2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}